
<h2>
	<%= @brewery.name %>
</h2>

<p class="year">
  	<strong>Established year</strong>
  	<%= @brewery.year %>
</p>
<p>Number of beers <%= @brewery.beers.count %></p>
<p>
	<ul>
	 	<% @brewery.beers.each do |beer| %>
	 		<li>
	   			<%= link_to beer.name, beer %>
	   		</li>
	 	<% end %>
	</ul>
</p>
<p>
	<% if @brewery.ratings.empty? %>
	 None of the beers in this brewery have been rated!
	<% else %>
	 Beers of this brewery have total of <%= pluralize @brewery.ratings.size, 'rating' %>, with average of <%= @brewery.average_rating %>
<% end %>
</p>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> 
